[submodule "sf_hal_stm32h5"]
	path = sf_hal_stm32h5
	url = git@github.com:starkfuture/sf_hal_stm32h5.git
[submodule "services/fw-utils"]
	path = services/fw-utils
	url = git@github.com:starkfuture/fw-utils.git
